# Database
hrms.db
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# OS
Thumbs.db
.DS_Store

generated/

# Uploads
uploads/

# PDFs (optional)
*.pdf
*.db
